/* .App {
  text-align: center;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
   max-width: 1284px;
   padding: 90px 100px 20px 100px
}

.wrapper {
  color: white;
  z-index:1
}
.wrapper-department {
  display: flex;
  width: 1300px;
  flex-wrap: wrap;
  justify-content: center
}
.name_main {
  margin: 0 auto;
  display: flex;
  padding: 0 250px;
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  justify-content: center;
  margin-bottom: 50px;
}


#one{
position: relative;
}
.department {
  text-align: center;
  padding: 75px 25px 55px 25px;
  color: white;
  border: 1px solid white;
  width:380px;
  height: 280px;
  border-radius: 1px;
  margin-right: 50px;
  margin-bottom: 55px;
}
.department1 {
  position: relative;
}

.department_name {
  display: block;
  font-size: 18px;

  margin-bottom: 20px;
}


.department_text {


  margin-bottom: 20px;
}


.btn-home {
  background-color: rgb(78, 74, 74);


}



@media (max-width: 1200px) {
 .container {
  width: 1100px;
  padding: 0
  }
.wrapper {
  width: 1000px
}
.wrapper-department {
  display: flex;
  width: 900px;
  flex-wrap: wrap;
  justify-content: center
}
.department {

  width:280px;
  height: 250px;
}

.name_main {
  padding: 0 100px;
}


}


@media (max-width: 992px) {
 .container {
  width: 850px;
  padding: 0
  }
.wrapper {
  width: 750px
}
.wrapper-department {
  display: flex;
  width: 700px;
  flex-wrap: wrap;
  justify-content: center
}
.department {

  width:280px;
  height: 250px;
}

.name_main {
  padding: 0 100px;
}


}

@media (max-width: 768px) {
 .container {
  width: 650px;
  padding: 0
  }
.wrapper {
  width: 520px;
  margin: 0 auto;
}
.wrapper-department {
  display: flex;
  max-width: 547px;
  flex-wrap: wrap;
  justify-content: center;

}
.department {

  width:480px;
  height: 250px;
}

.name_main {
  padding: 0 100px;
}


}

